name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # Allows manual run from Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE 'YourHFUsername/RescueAI' with your actual HF Space address below!
        run: git push https://Tirush12:$HF_TOKEN@huggingface.co/spaces/Tirush12/ResQ-Agent main